:root {
  --nuxt-green: rgba(5, 255, 155);
}

body {
  margin: 0;
}

.p-toast {
  width: auto;
}

.p-datatable .p-datatable-tbody > tr > td > .p-column-title {
  display: none;
  font-weight: 600;
}

@media screen and (max-width: 960px) {
  .p-datatable .p-datatable-thead > tr > th,
  .p-datatable .p-datatable-tfoot > tr > td {
    display: none !important;
  }

  .p-datatable .p-datatable-tbody > tr > td:not(:last-child) {
    border: 0 none;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    display: flex;
    width: 100% !important;
    align-items: center;
    justify-content: space-between !important;
  }

  .p-datatable .p-datatable-tbody > tr > td > .p-column-title {
    display: block;
  }
}

*::-webkit-scrollbar {
  width: .6rem;
}

*::-webkit-scrollbar-track {
  background-color: var(--surface-ground);
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--surface-card);
  border-radius: 100px;
}

* {
  font-family: 'Roboto'
}

.page-content {
  max-width: 70rem;
  padding: 3rem;
  margin: 0 auto;
}